<div class="container">

  <form action="/admin/add" method="get">
    <button class="btn btn-outline-dark" type="submit" name="button">
      Add new manager
    </button>
  </form>
  
  {{#if managers.length}}
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">email</th>
          <th scope="col">username</th>
          <th scope="col">phonenumber</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {{#each managers}}
        <tr>
          <th scope="row">{{@index}}</th>
          <td>{{this.email}}</td>
          <td>{{this.username}}</td>
          <td>{{this.phonenumber}}</td>
          <td>
            <div class="row">
              <form action="/admin/edit/{{this.email}}" method="get">
                <button class="btn btn-secondary" type="submit" name="button">Edit</button>
              </form>
              <span style="padding-right: 5px"></span>
              <form action="/admin/remove/{{this.email}}" method="get">
                <button class="btn btn-outline-dark" type="submit" name="button">Remove</button>
              </form>
            </div>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p class="text-center">Have no managers yet.</p>
  {{/if}}

</div>
