<div class="container">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Headings</th>
          <th scope="col">Information</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Book ID</td>
          <td>{{offer.bookId}}</td>
        </tr>

        <tr>
          <td>User Email</td>
          <td>{{offer.customerEmail}}</td>
        </tr>

        <tr>
          <td>City</td>
          <td>{{offer.customerCity}}</td>
        </tr>

        <tr>
          <td>Post</td>
          <td>{{offer.customerDept}}</td>
        </tr>

        <tr>
          <td>User Phone</td>
          <td>{{offer.customerPhone}}</td>
        </tr>

        <tr>
          <td>Status</td>
          <td>
            {{#if offer.inProgress}}
              In progress
            {{else if offer.completed}}
              Completed
            {{else}}
              New Offer
            {{/if}}
          </td>
        </tr>

      </tbody>
    </table>

    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <form action="/manager/progress/{{offer._id}}" method="post">
          <button class="btn btn-sm btn-secondary" type="submit" name="button">Process</button>
        </form>
        <form action="/manager/complete/{{offer._id}}" method="post">
          <button class="btn btn-sm btn-secondary" type="submit" name="button">Complete</button>
        </form>
        <form action="/manager/delete/{{offer._id}}" method="get">
          <button class="btn btn-sm btn-secondary" type="submit" name="button">Delete</button>
        </form>
      </div>
    </div>

</div>
