<div class="container moar-margin">

  <!-- <form action="/admin/add" method="get">
    <button class="btn btn-outline-dark" type="submit" name="button">
      Add new manager
    </button>
  </form>
  <p></p> -->
  {{#if offers.length}}
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <!-- <th scope="col">#</th> -->
          <th scope="col">Book ID</th>
          <th scope="col">User</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {{#each offers}}
        <tr>
          <!-- <th scope="row">{{@index}}</th> -->
          <td>{{this.bookId}}</td>
          <td>{{this.customerName}}</td>
          <td>

            <form action="/manager/offer/{{this._id}}" method="get">
              <button class="btn btn-sm btn-secondary" type="submit" name="button">Details</button>
            </form>

          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p class="text-center">Have no offers yet.</p>
  {{/if}}

</div>
