<div class="text-center">

  <form class="form-signup needs-validation" action="/signUp" method="post" novalidate>
    <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>

    {{#if errorMessage}}
      <small class="text-danger" style="margin-top:-1px;">{{errorMessage}}</small>

      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" name="email" id="inputEmail" class="form-control border border-danger" value="{{user.email}}" required="" autofocus="">

      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="">

      <label for="inputUsername" class="sr-only">Username</label>
      <input name="username" id="inputUsername" class="form-control optional-first border border-danger" value="{{user.username}}" required="">

      <label for="inputPhonenumber" class="sr-only">Phonenumber</label>
      <input name="phonenumber" id="inputPhonenumber" class="form-control optional" value="{{user.phonenumber}}" required="">

      <label for="inputCity" class="sr-only">City</label>
      <input name="city" id="inputCity" class="form-control optional" value="{{user.city}}" required="">

      <label for="inputDepartment" class="sr-only">Department</label>
      <input name="department" id="inputDepartment" class="form-control optional-last" value="{{user.department}}" required="">
    {{else}}
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">

      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="">

      <label for="inputUsername" class="sr-only">Username</label>
      <input name="username" id="inputUsername" class="form-control optional-first" placeholder="Username" required="">

      <label for="inputPhonenumber" class="sr-only">Phonenumber</label>
      <input name="phonenumber" id="inputPhonenumber" class="form-control optional" placeholder="Phone number" required="">

      <label for="inputCity" class="sr-only">City</label>
      <input name="city" id="inputCity" class="form-control optional" placeholder="City" required="">

      <label for="inputDepartment" class="sr-only">Department</label>
      <input name="department" id="inputDepartment" class="form-control optional-last" placeholder="Post department" required="">
    {{/if}}

    <button class="btn btn-md btn-primary btn-block" type="submit">Sign up</button>
  </form>

</div>
