<div class="container moar-margin">

  {{#if offers.length}}
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <!-- <th scope="col">#</th> -->
          <th scope="col">Book ID</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each offers}}
        <tr>
          <!-- <th scope="row">{{@index}}</th> -->
          <td>{{this.bookId}}</td>
          <td>
            {{#if this.completed}}
              Completed
            {{else if this.inProgress}}
              In progress
            {{else}}
              New Offer
            {{/if}}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p class="text-center">Have no offers information.</p>
  {{/if}}

</div>
